*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: 0px;
}

nav{
    background-color: black;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    width: 100vw;
}

.nav-list{
    list-style: none;
    color: white;
    font-size: large;
    display: flex;
    gap: 2em;
    margin: 1.5em;
    padding-right: 2em;
}

.nav-item{
    color: white;
    text-decoration: none;
}

.nav-item:hover{
    color:yellow
}

.brand{
    display: flex;
    font-size: xx-large;
    align-items: center;
    margin-left: 1em;
}

.brand-link{
    text-decoration: none;
    color: white;
}

footer{
    background-color: black;
    color: white;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em
    }
    ul{
        list-style: none;
        padding-left: .5em;
        margin-top: 0px;
    }
    .fa-brands{
        margin-right: .5em;
    }
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color:yellow
    }
}